.header {   
    font-family: 'Source Sans Pro', sans-serif;
}

.header-wrapper {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2rem 0;
}

.header-logo {
    font-family: 'Anek Latin', sans-serif;
    font-size: 32px;
    margin-left: 0;
}

.header-menu {
    display: flex;
    flex-direction: row;
}

.header-menu div {
    display: flex;
    font-weight: bold;
    padding: 1rem;
}

.header-symbol {
    display: flex;
}

.header-symbol div {
    padding-left: 1rem;
}

.box {
    padding-left: 32vh;
}